
.t-11{
    font-size: 11px !important;
}
.t-12{
    font-size: 12px !important;
}
.t-13{
    font-size: 13px !important;
}
.t-14{
    font-size: 14px !important;
}
.t-15{
    font-size: 14px !important;
}
.t-16{
    font-size: 16px !important;
}
.t-17{
    font-size: 17px !important;
}
.t-18{
    font-size: 18px !important;
}


.b-4{
    font-weight: 400
}

.b-5{
    font-weight: 500
}

.b-6{
    font-weight: 600
}

.b-7{
    font-weight: 700
}

.b-8{
    font-weight: 800
}

.heading{
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    color: #0e1b4d;
}

.sub-heading{
    font-size: 18px;
    color: #8a8c94;
    font-weight: 600
}

.link-bg{
    background: #f82249;
}

.link-text{
    color: #f82249;
}

.splash{
    background: url('https://via.placeholder.com/1300x550?text=Splah Images') no-repeat center;
    height: 600px;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar{
    padding: 12px;
}

.navbar-toggler, .navbar-toggler:focus{
    border: 0;
    outline: 0;
    box-shadow: none
}

.navbar-bg{
    background: rgba(6, 12, 34, 0.98)
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding: 7px 10px;
    border-bottom: 2px solid transparent;
    margin-right: 20px;
    text-align: center;
    color: rgba(202, 206, 221, 0.8);
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    transition: border .5s ease;
    font-size: 14.5px
}

.nav-link:hover{
    color: #f82249 !important
}

.ticket-link{
    border-radius: 50px;
    color: #fff !important;
    background: #f82249;
    padding-right: 30px !important;
    padding-left: 30px !important;
    border: 2px solid #f82249 !important;
    transition: all .3s ease-in-out;
    margin-left: 20px
}

.ticket-link:hover{
    background: transparent;
    color: #fff !important
}

.active{
    /* background: rgb(23, 181, 187); */
    font-weight: 500;
    border-bottom: 2px solid green
}

/* ABOUT SECTION */
.about{
    background: rgb(247, 247, 247);
    padding: 5em 0
}

/* PARTNERS SECTION */


.heading-line{
    width: 100px;
    height: 3px;
    background: #f82249;
    display: block;
    text-align: center;
    margin-bottom: 20px
}

.partners img{
    opacity: .5;
    transition: all .5s ease
}

.partners img:hover{
    opacity: .8;
}


/* SPEAKERS SECTION */

.overlay{
    background: rgba(6, 12, 34, 0.733);
    padding: 4px 0;
    position: absolute;
    bottom: 0px;
    right: 0;
    left: 0;
    margin: 0 15px;
    color: #fff;
    height: 50px;
    transition: all .3s ease-in-out
}

.overlay p{
    margin-bottom: 0
}

.name{
    font-size: 16px;
    font-weight: 700
}

.title{
    font-size: 12px;
    font-weight: 500;
}

.overlay ul{
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
    display: flex;
    display: -webkit-flex;
}

.overlay ul li{
    margin-right: 10px
}

.overlay i{
    color: white;
}

.speaker-wrapper:hover > .overlay{
    /* padding: 20px */
    height: 74px;
}


/* TICKET SECTION */
.ticket{
    background: #f6f7fd;
}

.card .header{
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.card h6{
    font-size: 1.2em;
    color: #8a8c94;
}

.card{
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.103), 0 6px 20px 0 rgba(0, 0, 0, 0.109);
    border: 0
}

.card p{
    font-size: 2em;
    margin-bottom: 0;
    color: #8999db
}

.card .details{
    padding: 1.3em
}

.card .details ul{
    list-style: none;
    text-align: left
}

.card .details ul li {
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.fa-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: .14285714em;
    text-align: center;
}

.not{
    color: #8a8c94
}

.card .details .btn{
    color: #fff;
    /* background: #0e1b4d !important */
}

.card .details .btn:hover{
    background: #0e1b4d !important
}

/* FOOTER */
footer{
    text-align: center;
    padding: 30px;
    background: #202024;
    color: #f6f7fd
}

footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    margin-bottom: 20px
}

footer p{
    margin-bottom: .3em
}

footer ul li{
    margin-right: 10px
}
.circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #d3d0d0;
    line-height: 30px;
    color: #f82249;
    transition: transform .6s ease-out
}

.circle:hover{
    transform: rotate(360deg)
}

.form-control{
    border-radius: 0px
}

.form-control:focus{
    outline: 0;
    box-shadow: none;
    
}

.modal .btn:hover{
    background: #0e1b4d
}